.name-button {
    display: block;
    // line-height: 80px;
    // height: 80px;
    position: relative;
    padding: 15px 0;
    @extend %unglitch-3d;

    &:hover {
        // cursor: pointer;
    }

    .name, .title {
        display: block;
        // color: #333;
    }

    .name {
        // @extend %font-regular;
        font-size: em(21);
        // margin-bottom: 10px;
    }

    .title {
        // @extend %font-light;
        // padding-left: 10px;
        opacity: 0;
        // color: #6c7884;
        font-size: em(18);
    }
}
