.projects-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .projects-list__heading {
        margin-bottom: em(25);
    }

    .projects-list__teasing {
        margin-bottom: em(17);
    }
