<div class="projects-list">
	<div class="container">
		<div class="row">
	        <div v-repeat="project: projects | startAt 0" class="column two" v-el="links" v-component="nameButton" v-with="project"></div>
		</div>
		<div class="row">
	        <div v-repeat="project: projects | startAt 4" class="column two" v-el="links" v-component="nameButton" v-with="project"></div>
	    </div>
	    <div class="row">
	        <div v-repeat="project: projects | startAt 8" class="column two" v-el="links" v-component="nameButton" v-with="project"></div>
	    </div>
	    <div class="row">
	        <div v-repeat="project: projects | startAt 12" class="column two" v-el="links" v-component="nameButton" v-with="project"></div>
	    </div>
	    <div class="row">
	        <div v-repeat="project: projects | startAt 16" class="column two" v-el="links" v-component="nameButton" v-with="project"></div>
	    </div>
	</div>
</div>
