<div class="projects-list">
	<div class="container">
		<div class="row">
			<div class="[ four offset-by-two ] [ align-center ]">
				<h3 class="[ projects-list__heading ] [ heading-2 soft-grey lower ft-reg ]">
					<span class="white ft-alt-reg">CRMA</span>.experiments
				</h3>
				<h2 class="[ projects-list__teasing ] [ teasing-2 white ft-alt-reg ]">
					Developers - Interactive Design '15
				</h2>
			</div>
		</div>
		<div class="row">
	        <div v-repeat="project: projects | limitToRange 0 4" class="column two" v-el="links" v-component="nameButton" v-with="project"></div>
		</div>
		<div class="row">
	        <div v-repeat="project: projects | limitToRange 4 8" class="column two" v-el="links" v-component="nameButton" v-with="project"></div>
	    </div>
	    <div class="row">
	        <div v-repeat="project: projects | limitToRange 8 12" class="column two" v-el="links" v-component="nameButton" v-with="project"></div>
	    </div>
	    <div class="row">
	        <div v-repeat="project: projects | limitToRange 12 16" class="column two" v-el="links" v-component="nameButton" v-with="project"></div>
	    </div>
	    <div class="row">
	        <div v-repeat="project: projects | limitToRange 16 20" class="column two" v-el="links" v-component="nameButton" v-with="project"></div>
	    </div>
	</div>
</div>
