@import "base/variables";

$column: 110px;
$gutter: 30px;
$grid-columns: 8;
$grid-margin: 40;
$max-width: 1160px;

// DEBUG
// $visual-grid: true;
$visual-grid-index: front;
$visual-grid-color: #1abc9c;