.home {
    ul {
        li {
            font-size: 18px;
            border-bottom: 1px solid #2A2A2A;
            @include box-sizing(border-box);
            &:first-child {
                border-top: 1px solid #2A2A2A;
            }
        }
    }
}