header {
    @include position(absolute, 0px 0px 0px 0);
    height: 90px;
    // padding-top: 50px;

    img {
        margin-bottom: 20px;
    }

    h2 {
        color: #555;
        font-size: 20px;
        margin-bottom: 40px;
        font-weight: 100;
    }
}
